<div class="container">
    <div class="row">
        <div class="col-mb-12 col-tb-8 col-tb-offset-2">
            <div class="column-14 start-06 typecho-install">
                    <h1 class="typecho-install-title">欢迎使用 码坛科技影视系统</h1>
                    <div class="typecho-install-body">
                        <h2>安装说明</h2>
                        <p><strong>本安装程序将自动检测服务器环境是否符合最低配置需求. 如果不符合, 将在上方出现提示信息, 请按照提示信息检查您的主机配置. 如果服务器环境符合要求, 将在下方出现 "开始下一步" 的按钮, 点击此按钮即可一步完成安装.</strong></p>
                        <h2>版权声明</h2>
                        <p>码坛科影视技系统安装器. 
                    </div>
                    <p class="submit">
                        <a href="?act=config" ><button class="btn primary">我准备好了, 开始下一步 &raquo;</button></a>
                    </p>
            </div>
        </div>
    </div>
</div>