<div class="container">
    <div class="row">
        <div class="col-mb-12 col-tb-8 col-tb-offset-2">
            <div class="column-14 start-06 typecho-install">
                <h1 class="typecho-install-title">安装成功!</h1>
                <div class="typecho-install-body">
                    <div class="message success">
                        您的用户名是: <strong class="mono">{$userName}</strong><br>
                        您的密码是: <strong class="mono">{$userPass}</strong>
                    </div>
					<!--
                    <div class="p message notice">
                        
                    </div>
					-->
                    <div class="session">
                        <p>您可以将下面的链接保存到您的收藏夹:</p>
                        <ul>
                            <li><a href="http://{$siteDomain}/Login/Login">点击这里进入你的后台</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body></html>