<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金龙策略</title>
</head>
<body class="membercenter logged-in">
{include file="public:top" /}
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/home/css/member.css"/>

<!--个人中心-推广赚钱-->
<div class="br-content">
<div class="w1200">
	<!--主体-->
<section class="page-main page-personal">
    <div class="container clearfix">
    	<!--public左边-->
    	{include file="public:member_left" /}
        <!--右边-->
<section id="page_member_agent" class="page-invite col-main">
    <!--<div class="container">-->
    <div class="tabs-wrapper" style="margin-top:-20px; clear:both;">
        <h4 class="tabs-title">推广赚钱</h4>

        <nav>
            <ul class="tabs-nav-list">
                <li class="active"><a href="javascript:;" id="iv1">推广详情</a></li>
                <li class=""><a href="javascript:;" id="iv2">推广链接 </a></li>
                <li><a href="javascript:;" id="iv3">我的用户</a></li>
            </ul>
        </nav>
        <div class="tabs">
            <div class="tab-item" id="tab-iv1">
                <ul class="data-list clearfix">
                    <li>当前佣金：<b id="当前佣金">0</b>元</li>
                    
                    <li>佣金收益：<span class="red_p">管理费的&nbsp;<span class="guanli">6%</span></span></li>
                    
                </ul>
                <div class="agent-intro clearfix">
                    <div class="f-left">
                        <h3>什么是金龙策略投资推广</h3>
                        <p>金龙策略 投资推广是一种按管理费赚取佣金的推广平台，您可以通过朋友、QQ、微信、微博、博客、论坛或在自己的网站上进行推广，所有通过您的推广链接访问过来的用户，注册后都将成为您的下线用户，而当这些用户在本站匹配策略成功运行时，您就可以最高赚取6%的佣金。</p>
                        <h3>做推广到底能赚多少钱</h3>
                        <p>投资推广平台到目前为止，已向所有推广员发放了几百万元的佣金，是目前站长最赚钱的方式之一。推广平台有几位做的比较好的推广员，他们经过半年多的努力，现在每月佣金收入就有十来万元。</p>
                        <h3>做佣金怎么结算</h3>
                        <p>您的用户每成功匹配一条策略，在管理费扣除后您就获得一笔佣金，可以随时取出，当然也可以在本站作为保证金使用。</p>
                    </div>
                    <div class="f-right">
                        <h4>推广佣金榜</h4>
                        <div class="agent-user">
                            <p><span>推广员</span><span class="f-right">佣金收入</span></p>
                            <ul class="clearfix" id="agent-rank"><li><span><b>1</b>huantng</span><em>154043.44</em></li><li><span><b>2</b>shendequn</span><em>120271.1</em></li><li><span><b>3</b>187******83</span><em>116564.8</em></li><li><span><b>4</b>猫猫</span><em>101521.73</em></li><li><span><b>5</b>yuxiaoting</span><em>81142.72</em></li><li><span><b>6</b>LU</span><em>50242.2</em></li><li><span><b>7</b>shen123</span><em>30180</em></li></ul>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    
                </div>

            </div>
            <!--/.tab-item -->
            <div class="tab-item hide" id="tab-iv2">

                <p>以下网址是您对外界进行推广的地址，您可以通过朋友、QQ、微信、博客、论坛或自己的网站进行推广，所有通过该地址访问过来的人，注册后就都属于您的用户，而当这些用户在本站提交策略时，您就可以赚取佣金了，详细的推广情况可到访问记录里查看。</p>

                <div class="group invite-link-row">
                    <label>您的推广链接</label>
                    <input id="推广链接i" type="text" class="text" value="" readonly="">
                    <a id="member_agent_urlA" href="javascript:;" data-clipboard-target="推广链接i" class="btn btn-pri">复制</a>

                </div>

                
            </div>

            <!--/.tab-item -->
            <!--我的用户-->
            <div class="tab-item my-tab-item" id="tab-iv3" style="display: none;">
                <div class="group invite-summary">
                    <div class="col-3"> 当前佣金<label id="当前佣金2">0</label>元</div>
                    <div class="col-3">我的用户<label id="下线用户x">0</label>个</div>
                    <div class="col-3">交易用户<label id="交易用户x">0</label>个</div>
                </div>
          
                <div id="mem_agent_list_loading" class="result-table-wrapper">
                    <table class="std-tbl myuser" id="asset-details-tbl">
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                            <col class="col3">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>当前交易</th>
                                <th>注册时间</th>
                            </tr>
                        </thead>
                        <tbody id="mem_agent_list"><tr><td colspan="3">暂无数据</td></tr></tbody>
                        <tfoot class="loading">
                            
                        </tfoot>
                    </table>

                </div><div class="page-bar">
                    <div class="jPaginate"></div>
                    <div class="total-pages">
                        <em>0条，</em><em>共0页</em>
                    </div>
                </div>
            </div>
            <!--/.tab-item -->
        </div>
        <!--/.tabs-->
    </div>
    <!--</div>-->
</section>
    </div>
</section>
	
	
	
	
	
</div>
</div>
<!--Start Pop-ups-->
<div class="mask"></div>
<div class="popup" id="popup-p-confirm">
    <div class="popup-header group">
        <h2>提示</h2>
    </div>
    <div class="popup-body group">
        <div class="btn-row group">
            <a class="btn btn-pri js-close-popup" href="javascript:popup_confirm_go()">确定</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">取消</a>
        </div>
    </div>
</div>
<div class="popup" id="popup-yeepay">
    <div id="yeepayPopupContent" class="popup-header group">
        <h2>提示</h2>
    </div>
    <div class="popup-body group">
        <div class="btn-row group">
            <a id="yeepayNextLink" target="_blank" class="btn btn-pri" href="javascript:；">开设账户</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">暂不充值</a>
        </div>
    </div>
</div>
<div class="popup" id="popup-yeepay-confirm">
    <div id="yeepayConfirmContent" class="popup-header group">
        <h2>提示</h2>
    </div>
    <div class="popup-body group">
        <div class="btn-row group">
            <a class="btn btn-pri js-close-popup" href="javascript:；">是</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">否</a>
        </div>
    </div>
</div>
<div id="popup-p-error" class="popup">
    <div class="popup-header group">
        <h2>提示</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <p id="popup-p-error-msg">提示信息</p>
    </div>
</div>
<div class="popup" id="popup-feedback">
    <div class="popup-header group">
        <h2>意见反馈</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <form action="#">
            <div class="field-row group">
                <label>留言类型：</label>
                <div class="field-val">
                    <select id="留言类型s">
                        <option value="">请选择留言类型</option>
                        <option value="1">交易问题</option>
                        <option value="2">充值/提款问题</option>
                        <option value="3">交易问题</option>
                        <option value="4">我要投诉</option>
                        <option value="5">意见反馈</option>
                        <option value="6">其它</option>
                    </select>
                </div>
            </div>
            <div class="field-row group show-logout">
                <label>手机/邮箱：</label>
                <div class="field-val"><input type="text" class="text" placeholder="请输入手机号或邮箱"></div>
            </div>
            <div class="field-row group">
                <label>&nbsp;</label>
                <div class="field-val">
                    <textarea id="留言内容i" placeholder="请填写留言内容" class="textarea"></textarea>
                </div>
            </div>
            <div class="btn-row group">
                <a class="btn btn-pri" href="javascript:feedback_Insert()">提交</a>
            </div>
        </form>
    </div>
</div>
<!--/#popup-feedback-->
<div class="popup" id="popup-id-verify">
    <div class="popup-header group">
        <h2>认证银行卡</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">提现和免费体验前必须先绑定一张银行卡</li>
                <li style="text-align:left;">请务必认真填写真实资料</li>
                <li style="text-align:left;">银行卡采用实名认证，一个身份证只能绑定一个账号</li>
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先绑定银行卡</p>
        </div>
        <div class="btn-row group">
            <a class="btn btn-pri" href="/ucenter/BankCards.html">去绑定</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">暂不绑定</a>
        </div>
    </div>
</div>
<div class="popup" id="popup-realname-auth">
    <div class="popup-header group">
        <h2>实名认证</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">一个身份证对应一个账号</li>
                
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先进行实名认证</p>
        </div>
        <div class="field-row group">
            <label>真实姓名：</label>
            <div class="field-val"><input id="姓名i" type="text" class="text" onchange="user_updateid_zsxm_valid()"></div>
        </div>
        <div id="zsxm_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>未填写姓名</div></div>
        <div class="field-row group">
            <label>身份证号：</label>
            <div class="field-val">
                <div class="field-val">
                    <input id="身份证i" type="text" class="text" onchange="user_updateid_sfzh_valid()">
                </div>
            </div>
        </div>
        <div id="sfzh_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的身份证</div></div>
        <div class="btn-row group">
            <a id="user_UpdateSelfIdA" class="btn btn-pri" href="javascript:void(0)">确认</a>
            <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
        </div>
    </div>
</div>
<div class="popup popup-small" id="popup-user-login">
    <div class="popup-header group">
        <h2>账户登录</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="group section-form" style=" margin-bottom: 0px; margin-top: 10px;" id="popup-login-section">
            <div class="form">
                <div class="field-wrapper">
                    <input type="text" class="text" placeholder="用户名/手机号" name="phone" id="popup_user_login_name">
                </div>
                <div class="error-wrapper" style="display:none; margin-top:5px;"><div><i class="icon icon-x-altx-alt" style="font-size:13px;"></i>用户名不能为空！</div></div>
                <div class="field-wrapper">
                    <input type="password" class="text" placeholder="请输入密码" name="pwd" id="popup_user_login_pwd" onkeydown="if (event.keyCode == 13) { user_Login() }">
                </div>
                <div class="error-wrapper" style="display:none; margin-top:5px;"><div><i class="icon icon-x-altx-alt" style="font-size:13px;"></i>密码不能为空！</div></div>
                <div class="field-wrapper" id="popup-user-login-valid-img" style="display:none;">
                    <input type="text" class="text" style="width:100px; margin-right:5px; float: left;" placeholder="4位验证码" name="txt_valid_code">
                    <img name="img-block" class="captcha-img" alt="">
                    <a name="btn-change-img" style="font-size:13px; line-height:45px;" href="javascript:void(0)">看不清楚？</a>
                </div>
                <div class="error-wrapper" style="display:none; margin-top:5px;"><div><i class="icon icon-x-altx-alt" style="font-size:13px;"></i>验证码错误！</div></div>
                <div class="link-wrapper group">
                    <a href="/forgot_pass.html">忘记密码</a>
                </div>
                <div class="error-wrapper" style="display:none;  margin-top:5px;"><div><i class="icon icon-x-altx-alt" style="font-size:13px;" id="popup_user_login_msg"></i></div></div>
                <div class="btn-wrapper">
                    <a href="javascript:void(0);" id="popup_user_login_submit" class="btn btn-pri">登录</a>
                </div>
            </div>
            <div class="quick-link-wrapper group" style=" padding-bottom:0px;text-align: center;margin-top: 10px;">
                <p>还没账号? <a href="/reg.html" style="color:#d42b2e;">马上注册</a></p>
            </div>
        </div>
    </div>
</div>

<!--popup-edit-phone-更改手机号-->
<div class="popup" id="popup-edit-phone" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>更换手机</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="popup-body group">
            <form action="#">
                <div class="field-row group">
                    <label>当前手机号：</label>
                    <div class="field-val" id="手机号">182****1980</div>
                </div>
                <div class="field-row group">
                    <label>验证码：</label>
                    <div class="field-val capcha-wrapper capcha-count-down">
                        <input type="text" id="绑定手机校验码i" placeholder="请输入4位校验码" class="text" onkeyup="    this.value = this.value.substr(0, 4).replace(/\D/g, '')" onafterpaste="    this.value = this.value.substr(0, 4).replace(/\D/g, '')">
                        <a id="sms_SendAuthAA" class="btn-get-capcha active" href="javascript:void(0);">获取校验码</a>
                        <div class="time-counter"><i class="icon icon-caret-left"></i><span>90</span></div>
                    </div>
                </div>
                <div id="bdsjjym_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的验证码</div></div>
                <div class="btn-row group">
                    <a class="btn btn-pri" href="javascript:;" id="edit-phone-submit-next">确定</a>
                    <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
                </div>
            </form>
        </div>
    </div>
<!--绑定手机-->   
<div class="popup" id="popup-edit-phone-2" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>绑定手机</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="popup-body group">
            <form action="#">
                <div class="field-row group">
                    <label>新手机号：</label>
                    <div class="field-val"><input id="新手机号i" class="text" onkeyup="    this.value = this.value.substr(0, 11).replace(/\D/g, '')" onafterpaste="    this.value = this.value.substr(0, 11).replace(/\D/g, '')"></div>
                </div>
                <div id="bdsjjym_err2" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的手机号</div></div>
                <div class="field-row group" id="newPhone">
                    <label>验证码：</label>
                    <div class="field-val capcha-wrapper capcha-count-down">
                        <input id="新手机号校验码i" type="text" name="capcha" placeholder="请输入短信校验码" class="text" onkeyup="this.value = this.value.substr(0, 4).replace(/\D/g, '')" onafterpaste="    this.value = this.value.substr(0, 4).replace(/\D/g, '')">
                        <a id="sms_SendAuthAA2" class="btn-get-capcha active" href="javascript:;">获取校验码</a>
                        <div class="time-counter" id="newPhoneSpeed" style="display: none;"><i class="icon icon-caret-left"></i><span>90</span></div>
                    </div>
                </div>
                <div id="bdsjjym_err3" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的验证码</div></div>
                <div class="btn-row group">
                    <a id="update_mobileA" class="btn btn-pri" href="javascript:void(0)">确定</a>
                    <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
                </div>
            </form>
        </div>
    </div>
<!--/#popup-edit-login-pwd-修改登录密码-->
<div class="popup" id="popup-edit-login-pwd" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>登录密码</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="popup-body group">
            <form action="#" style="padding: 0 0 10px 0;">
                <div class="field-row group">
                    <label>当前登录密码：</label>
                    <div class="field-val"><input id="当前登录密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err4" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写当前密码</div></div>
                <div class="field-row group">
                    <label>新密码：</label>
                    <div class="field-val"><input id="新密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err5" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>密码长度不能少于6位</div></div>
                <div class="field-row group">
                    <label>确认密码：</label>
                    <div class="field-val"><input id="确认密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err6" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>两次密码不一致</div></div>
                <div class="btn-row group">
                    <a id="登录密码修改A" class="btn btn-pri" href="javascript:void(0)">确定</a>
                    <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
                </div>
            </form>
        </div>
    </div>
<!--/#popup-edit-login-pwd-修改提现密码-->
<div class="popup" id="popup-edit-security-pwd" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>提现密码</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <ol class="popup-note" style="margin:10px 15px;">
            <li style="list-style:none;">首次设置提现密码默认密码为登录密码！</li>
        </ol>
        <div class="popup-body group">
            <form action="#">
                <div class="field-row group">
                    <label>旧密码：</label>
                    <div class="field-val"><input id="当前提现密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err7" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写当前密码</div></div>
                <div class="field-row group">
                    <label>新密码：</label>
                    <div class="field-val"><input id="新提现密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err8" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>密码长度不能少于6位</div></div>
                <div class="field-row group">
                    <label>确认密码：</label>
                    <div class="field-val"><input id="确认提现密码i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err9" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>两次密码不一致</div></div>
                <div class="btn-row group">
                    <a id="提现密码修改A" class="btn btn-pri" href="javascript:void(0)">确定</a>
                    <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
                </div>
            </form>
        </div>
    </div>
<!--/#popup-edit-withdraw-pwd-提现密码获取验证码-->
<div class="popup" id="popup-edit-withdraw-pwd" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>提现密码</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="popup-body group">
            <form action="#">
                <div class="field-row group">
                    <label>手机号：</label>
                    <div class="field-val" id="手机号2">182****1980</div>
                </div>
                <div class="field-row group">
                    <label>验证码：</label>
                    <div class="field-val capcha-wrapper capcha-count-down">
                        <input id="提现密码校验码i" type="text" name="capcha" placeholder="请输入短信校验码" class="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        <a id="sms_SendAuthAA3" class="btn-get-capcha active" href="javascript:void(0);">获取验证码</a>
                        <div class="time-counter"><i class="icon icon-caret-left"></i><span>3</span></div>
                    </div>
                </div>
                <div id="bdsjjym_err10" class="error-wrapper" style="margin-left:110px; display:none;margin-top:5px;"><div><i class="icon icon-x-altx-alt"></i>请输入准确的验证码</div></div>
                <div class="btn-row group">
                    <a class="btn btn-pri" id="withdraw-pwd-submit" href="javascript:;">确定</a>
                </div>
            </form>
        </div>
    </div>    
<!--/#popup-edit-login-pwd-提现密码-->    
<div class="popup" id="popup-edit-withdraw-pwd-2" style="display: none;top: 0px;">
        <div class="popup-header group">
            <h2>提现密码</h2>
            <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="popup-body group">
            <form action="#">
                <div class="field-row group">
                    <label>提现密码：</label>
                    <div class="field-val"><input id="提现密码2i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err11" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>密码长度不能少于6位</div></div>
                <div class="field-row group">
                    <label>确认密码：</label>
                    <div class="field-val"><input id="确认提现密码2i" type="password" class="text"></div>
                </div>
                <div id="bdsjjym_err12" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>两次密码不一致</div></div>
                <div class="btn-row group">
                    <a id="user_UpdateSPMobileA" class="btn btn-pri" href="javascript:void(0)">确定</a>
                </div>
            </form>
        </div>
    </div>


{include file="public:footer" /}
<!--<script src="/public/static/home/js/agent.js"></script>-->
</body>
</html>
