<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金龙策略</title>
</head>
<body class="membercenter logged-in">
{include file="public:top" /}
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/home/css/member.css"/>

<!--个人中心-首页-->
<div class="br-content">
<div class="w1200">
	<!--主体-->
<section class="page-main page-personal">
    <div class="container clearfix">
    	<!--public左边-->
    	{include file="public:member_left" /}
        <!--右边-->
<div id="page_member_bankcard" class="col-main">
    <div class="personal-main">
        
        
        <div class="my-card-wrapper" style="" id="my-bank-cards">
            <h3 class="new-my-card-title">我的银行卡</h3>
            <div class="slide-wrapper new-my-card-slide slide-disabled" data-current="1">
                <ul id="membc_list" class="slides clearfix" style="left: 0px;">
                    {if condition="$bankcard neq '' " }
                	<li class="bank">
                        <div class="bank-card bank-card-gs"><p class="bank-card-end-num">{$cardEndNO}</p>
                        <div class="link-wrapper"><a href="javascript:void(0)" bankid="2281" class="bank_check">查看</a>
                            <a href="javascript:void(0)" bankid="2281" class="bank_delete">删除</a></div></div>
                    </li>
                    {else}
                    <li>您暂未绑定银行卡</li>
                    {/if}
                </ul>
                <a href="javascript:;" class="link-prev icon icon-chevron-small-left link-prev-disabled"></a>
                <a href="javascript:;" class="link-next icon icon-chevron-small-right link-next-disabled"></a>
            </div>
            <!--/.slide-wrapper-->
        </div>
        <!--/.my-card-wrapper-->

        <div class="add-card-wrapper" id="edit_bank_cards"  >
            <!--<h3 class="new-head"><span class="user-6"></span>请添加银行卡信息</h3>-->
            <form action="#" id="d_bank_add">
                <h3 class="card_title">请添加银行卡<span style="font-size: 12px;color: #999;"> (每人最多绑定一张银行卡)</span></h3>
                <div class="field-row group">
                    <label>开 户 人</label>
                    <div class="field-val openname"><label id="姓名" style="text-align:left;color: #000;font-size: 16px;">请先进行实名认证</label>
                        <a id="a_realname" target="_blank" href="/ucenter/security.html" style="font-size:13px;line-height:40px;color: #dd0000;">(点击这里实名认证)</a>
                    </div>
                </div>
                <div id="realName_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>请先进行实名认证</div>
                </div>
                <div class="field-row group">
                    <label>开户银行</label>

                    <div class="field-val">
                        <select id="银行s" class="long-select" val = "{$bankcard.bankName}">
                            <option value="">请选择</option><option value="1">工商银行</option><option value="2">农业银行</option><option value="3">中国银行</option><option value="4">建设银行</option><option value="6">中信银行</option><option value="7">光大银行</option><option value="8">华夏银行</option><option value="10">广发银行</option><option value="11">平安银行</option><option value="12">招商银行</option><option value="13">兴业银行</option><option value="14">上海浦发银行</option><option value="16">浙商银行</option><option value="17">渤海银行</option><option value="18">徽商银行</option><option value="19">邮政储蓄银行</option><optgroup label="暂不支持" disabled="disabled"><option>交通银行</option><option>民生银行</option><option>恒丰银行</option></optgroup>
                        </select>
                    </div>
                    <div class="field-txt" id="银行c"></div>
                </div>
                <div id="bankId_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>暂不支持该银行作为实名认证卡</div></div>
                <div id="khyh_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>未选择银行</div></div>
                <div class="field-row group">
                    <label>开户支行</label>
                    <div class="field-val">
                        <select id="省s" class="mid-select"  onchange="getCity()"  val = "{$bankcard.province}">
                            <option value= 0 >北京</option>
                            <option value= 1 >上海</option>
                            <option value= 2 >天津</option>
                            <option value= 3 >重庆</option>
                            <option value= 4 >河北</option>
                            <option value= 5 >山西</option>
                            <option value= 6 >内蒙古</option>
                            <option value= 7 >辽宁</option>
                            <option value= 8 >吉林</option>
                            <option value= 9 >黑龙江</option>
                            <option value= 10 >江苏</option>
                            <option value= 11 >浙江</option>
                            <option value= 12 >安徽</option>
                            <option value= 13 >福建</option>
                            <option value= 14 >江西</option>
                            <option value= 15 >山东</option>
                            <option value= 16 >河南</option>
                            <option value= 17 >湖北</option>
                            <option value= 18 >湖南</option>
                            <option value= 19 >广东</option>
                            <option value= 20 >广西</option>
                            <option value= 21 >海南</option>
                            <option value= 22 >四川</option>
                            <option value= 23 >贵州</option>
                            <option value= 24 >云南</option>
                            <option value= 25 >西藏</option>
                            <option value= 26 >陕西</option>
                            <option value= 27 >甘肃</option>
                            <option value= 28 >宁夏</option>
                            <option value= 29 >青海</option>
                            <option value= 30 >新疆</option>
                            <option value= 31 >香港</option>
                            <option value= 32 >澳门</option>
                            <option value= 33 >台湾</option>
                        </select>
                        <select id="市s" class="mid-select"  val = "{$bankcard.city}"><option value="">请选择</option></select>
                    </div>
                    <div class="field-txt" id="市c"></div>
                </div>
                <div id="khzh_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>未选择开户支行</div></div>
                <div class="field-row group">
                    <label>支行名称</label>
                    <div class="field-val"><input type="text" class="text" id="名称i"
                                                  placeholder="如宁波北仑分行/上海浦东分行等" val = "{$bankcard.branch}"></div>
                    <div class="field-txt" id="名称c"></div>
                </div>
                <div id="zh_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>未填写支行</div></div>
                <div class="field-row group">
                    <label>银行卡号</label>
                    <div class="field-val"><input type="text" class="text" id="银行卡号i" val = "{$bankcard.cardNumber}"></div>
                    <div class="field-txt" id="银行卡号c"></div>
                </div>
                <div id="yhkh_err1" class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>请输入正确银行卡号</div></div>
                <div class="field-row group" style="display:none;">
                    <label>审核状态</label>
                    <div class="field-txt" id="状态c">未审核</div>
                </div>
                <div class="btn-row group">
                    <button id="membcA" type="button" class="btn btn-pri">提 交</button>
                    <a id="card-save" href="javascript:void(0);" class="btn btn-pri" style="display:none">保 存</a>
                </div>
            </form>


            <form action="#" id="d_bank_display" style="display:none;">
                <div class="field-row group">
                    <label>开 户 人</label>
                    <div class="field-val openname"><label style="text-align:left;">{$bankcard.memberName}</label></div>
                </div>
                <div class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>请先进行实名认证</div></div>
                <div class="field-row group">
                    <label>开户银行</label>
                    <div class="field-txt">{$bankcard.bankName}</div>
                </div>
                <div class="field-row group">
                    <label>开户支行</label>
                    <div class="field-txt" >{$bankcard.province}{$bankcard.city}{$bankcard.branch}</div>
                </div>
                <div class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>未填写支行</div></div>
                <div class="field-row group">
                    <label>银行卡号</label>
                    <div class="field-txt" >{$bankcard.cardNumber}</div>
                </div>
                <div class="error-wrapper" style="margin-left:120px; display:none"><div><i class="icon icon-x-altx-alt"></i>请输入正确银行卡号</div></div>
                <div class="field-row group" style="display:none;">
                    <label>审核状态</label>
                    <div class="field-txt" >审核通过</div>
                </div>
                <div class="btn-row group">
                    <a id="membcB" href="javascript:void(0);" class="btn btn-pri" style="display: inline-block;">修 改</a>
                </div>
            </form>



        </div>
    </div>
</div>



    </div>
</section>
	
	
	
	
	
</div>
</div>

{include file="public:footer" /}

<script>
    var USER={
        name:"{$realName}"
    }
</script>

<script src="/public/static/home/js/backcards.js"></script>
</body>
</html>

