<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金龙策略</title>
</head>
<body class="history_body grey buy-body logged-in">
{include file="public:top" /}
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>

<!--结算区-->
<div class="br-content">
<div class="w1024">
<div class="stock-sell stock-buy stock-settle">
    <section class="play-area">
        <nav>
            <ul class="clearfix">
                <li class=""><a href="/buy.html"><em> 01 </em>| 点买区</a></li>
                <li class=""><a href="/sell.html"><em>02 </em>| 点卖区</a></li>
                <li class="active"><a href="/history.html"><em>03 </em> | 结算区</a></li>
            </ul>
        </nav>
       <section>
            <nav class="row" style="position: relative;">
                <div class="select">
                    <span>时间：</span>
                    <a href="/history.html?recent=7" id="recent7" class="">最近7个交易日</a>
                    <a href="/history.html?recent=30" id="recent30">最近30个交易日</a>
                    <a id="selectByDate">按时间选择<span class="sanj"></span></a>
                </div>
                <!--<div class="select split" style="display:none;">
                    <span>状态：</span>
                    <a id="status-0" class="active">全部</a>
                    <a id="status-6">待结算</a>
                    <a id="status-5">平仓中</a>
                    <a id="status-4">待平仓</a>
                    <a id="status-7">已结算</a>
                    <a id="status-r">今日流单</a>
                </div>-->
                <div class="jiesuan-deal pa" style="top:200px;left:300px" id="JchooseDate" data-val="0">
                    <h4 class=" pb5 f14 db lh18" style="height:30px;">
                        <span class="left_gray fl">&lt;</span>
                        <span class="cen fl"><span id="yearSpan">2017</span>年</span>
                        <span class="right_gray fr ">&gt;</span>
                    </h4>
                    <div style=" width: 224px; height: 110px; overflow: hidden;margin: 0 auto;">
                        <div style=" width: 224px; height: 110px;margin-left:0px" id="JyearContent">
                            <ul class="jiesuan-dea2 tc">
                            	
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </nav>
            <ul id="settle-list" class="history-list">

                {if condition="count($list) eq 0"}
                <div class="data-empty"><p>暂时没有数据</p><a href="/buy.html">立即去点买</a></div>
                {/if}
                {volist name="list" id="vo"}
            	<li>
            		<label class="w175"><em>{$vo.sellTime}</em><em>单号：{$vo.id}</em></label>
            		<label class="w130"><em><strong>{$vo.stockName}({$vo.stockCode})</strong></em><em><b>{$vo.dealQuantity * 100}股</b></em></label>
            		<label class="w136"><em><strong
                       {if condition="$vo.profit lt 0"} class="c-green" {else if condition="$vo.profit gt 0" } class="c-red" {/if}
                    >{$vo.profit|round=2}</strong></em><em>交易盈亏</em></label>
            		<label class="w136"><em
                            {if condition="$vo.profit lt 0"} class="ft16 c-green" {else if condition="$vo.profit gt 0" } class="ft16 c-red" {/if}
                    >{if condition="$vo.profit gt 0"} {$vo.profit*(1-$profitFee)|round=2} {else} {$vo.profit|round=2} {/if}</em><em>盈利分配</em></label>
            		<label class="w120 "><a class="detail_a" href="/detail.html?id={$vo.id}">查看详情</a></label>
            		<label class="w120 hide-important"></label>
                </li>
                {/volist}
            </ul>
           
           {$list->render()}
        </section>
    </section>
    <!--确认点卖？-->
    <div class="confirm-sell" style="display: none;">
        <p>确定点卖？</p>
        <button class="wap-confirm">确定</button>
        <button class="wap-deny">取消</button>
    </div>
</div>

</div>
</div>
<!------>
<!--申请递延-->
<div class="popup popup-middle" id="popup-delay">
    <div class="popup-header group">
        <h2>申请递延</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="delay-box">
            <div class="delay-info">当前非递延申请时间,请稍后再来！</div>
            <div class="delay-foot">
                <button class="btn btn-pri">确定</button>
                <a href="javascript:;" class="delay-btn f-right">递延规则<i class="icon icon-caret-up"></i></a>
            </div>
        </div>
    </div>
    <div class="delay-rule hide popup-footer">
        <p>递延申请：点买人付费申请</p>
        <p>申请时间：00:00:00-12:00:00</p>
        <p>递延申请：点买人付费申请</p>
        <p>递延申请：点买人付费申请</p>
    </div>
</div>
<!--点卖确认-->
<div class="popup popup-big" id="popup-sell">
    <div class="popup-header group">
        <h2>点卖确认</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <table border="0" cellspacing="0" cellpadding="0" class="popup-sell-tb table-sell">
            <tbody><tr>
                <td width="15%">交易品种：</td>
                <td width="35%">-</td>
                <td width="15%">卖出数量：</td>
                <td width="35%">-</td>
            </tr>
            <tr>
                <td>买入时间：</td>
                <td>-</td>
                <td>递延天数：</td>
                <td>-</td>
            </tr>
            <tr>
                <td>浮动盈亏</td>
                <td class="c-red" id="sell_profit">-</td>
                <td>(仅供参考)</td>
                <td></td>
            </tr>
        </tbody></table>
        <div class="btn-div">
            <button class="btn btn-pri" id="popup-confirm-btn">确定</button>
            <a href="javascript:;" class="js-close-popup btn btn-grey">取消</a>
        </div>
    </div>
    
</div>
<!--即时卖出-->
<div class="popup popup-middle" id="popup-buy-apply">
    <div class="popup-header group">
        <h2>即时卖出</h2>
    </div>
    <div class="popup-body group">
    </div>
</div>
<!--限价卖出-->
<div class="popup popup-middle" id="popup-sell-price-success">
    <div class="popup-header group">
        <h2>限价卖出</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <center><i class="icon icon-circle-check"></i>限价委托提交成功！</center>
        <div class="f-right"><b class="red">5秒</b>后自动跳转至卖出区，<a href="/ucenter/history.html" class="js-close-popup">立即跳转</a></div>
    </div>
</div>
<!--卖出委托价格修改-->
<div class="popup popup-big" id="popup-change-price">
    <div class="popup-header group">
        <h2>卖出委托价格修改</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <table border="0" cellspacing="0" cellpadding="0" class="popup-sell-tb table-change-price">
            <tbody><tr>
                <td width="15%">最&nbsp;&nbsp;新&nbsp;&nbsp;价：</td>
                <td width="35%">-</td>
                <td width="15%">委托价格：</td>
                <td width="35%"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="change-price-1" class="active">
                        <input type="radio" name="change-sell-price" id="change-price-1" class="radio" checked="">即时卖出
                    </label>
                </td>
                <td colspan="2">
                    <label for="change-price-2">
                        <input type="radio" name="change-sell-price" id="change-price-2" class="radio">最新价触发<input type="text" id="change-sell-price" size="8" placeholder="输入价格" class="text" style="position:relative">时，即时卖出
                    </label>
                </td>
            </tr>
        </tbody></table>
        <div class="btn-div">
            <button class="btn btn-pri" id="popup-confirm-change-price-btn">确定</button>
            <a href="javascript:;" class="js-close-popup btn btn-grey">取消</a>
        </div>
    </div>
</div>
<!--即时卖出-->
<div class="popup popup-middle" id="popup-sell-success">
    <div class="popup-header group">
        <h2>即时卖出</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <center><i class="icon icon-circle-check"></i>卖出成功！</center>
        <div class="f-right"><b class="red">5秒</b>后自动跳转至结算区，<a href="/ucenter/history.html" class="js-close-popup">立即跳转</a></div>
    </div>
</div>
<!--认证银行卡-->
<div class="popup" id="popup-id-verify">
    <div class="popup-header group">
        <h2>认证银行卡</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">提现和免费体验前必须先绑定一张银行卡</li>
                <li style="text-align:left;">请务必认真填写真实资料</li>
                <li style="text-align:left;">银行卡采用实名认证，一个身份证只能绑定一个账号</li>
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先绑定银行卡</p>
        </div>
        <div class="btn-row group">
            <a class="btn btn-pri" href="/ucenter/BankCards.html">去绑定</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">暂不绑定</a>
        </div>
    </div>
</div>
<!--实名认证-->
<div class="popup" id="popup-realname-auth">
    <div class="popup-header group">
        <h2>实名认证</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">一个身份证对应一个账号</li>
                
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先进行实名认证</p>
        </div>
        <div class="field-row group">
            <label>真实姓名：</label>
            <div class="field-val"><input id="姓名i" type="text" class="text" onchange="user_updateid_zsxm_valid()"></div>
        </div>
        <div id="zsxm_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>未填写姓名</div></div>
        <div class="field-row group">
            <label>身份证号：</label>
            <div class="field-val">
                <div class="field-val">
                    <input id="身份证i" type="text" class="text" onchange="user_updateid_sfzh_valid()">
                </div>
            </div>
        </div>
        <div id="sfzh_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的身份证</div></div>
        <div class="btn-row group">
            <a id="user_UpdateSelfIdA" class="btn btn-pri" href="javascript:void(0)">确认</a>
            <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
        </div>
    </div>
</div>


{include file="public:footer" /}
<script src="/public/static/home/js/history.js"></script>

</body>
</html>