[class^="icon_"]{
	display: inline-block;
	background-size: 100% 100%;
}
img{
	width: 100%;
	vertical-align: middle;
}
:root{
	--color_red:#e60012;
	--color_green:#19B777;
	
}
/*底部*/
nav.ml_tab{
	background-color: rgba(0,0,0,.8);
}
nav.ml_tab .mui-icon:before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
    background-size: 100% 100%;
}
nav.ml_tab .mui-icon-home:before{
	background-image: url(/public/static/home/img/moblie/home1.png);
}
nav.ml_tab .mui-icon-phone:before{
	background-image: url(/public/static/home/img/moblie/share1.png);
}
nav.ml_tab .mui-icon-email:before{
	background-image: url(/public/static/home/img/moblie/mine1.png);
}
nav.ml_tab .mui-tab-item.mui-active {
	color: #e60012;
}
nav.ml_tab .mui-active .mui-icon-home:before{
	background-image: url(/public/static/home/img/moblie/home2.png);
}
nav.ml_tab .mui-active .mui-icon-phone:before{
	background-image: url(/public/static/home/img/moblie/share2.png);
}
nav.ml_tab .mui-active .mui-icon-email:before{
	background-image: url(/public/static/home/img/moblie/mine2.png);
}
/*首页*/
.person_header{
	background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
}
.person_header a,.person_header h1{
	color: #fff;
}

.per_top{
	width: 100%;
	/*height: 250px;*/
	background: url(/public/static/home/img/moblie/bg.png) center;
	    padding-top: 44px;
}
.person_content{
	background-color: transparent;
	min-height: 100%;
    padding-top: 0 !important;
}   
.person_content .per_top img{
	width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 8px;
    border-radius: 50%;
}
.person_content .per_top p{
	color: #fff;
}
.top_btn a{
	    width: 45%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background: #F5191D;
    color: #fff;
    border: none;
    margin-top: 15px;
}	
.top_btn a:nth-of-type(1){
	margin-right: 1%;
}
.mui-table-view-cell>a{
	    height: 50px;
    line-height: 50px;
    padding-top: 0 !important;
    font-size: 14px;
}
.mui-navigate-right:after, .mui-push-right:after{
	color: #000;
}
.login_out{
	height: 45px;
    line-height: 45px;
    padding: 0;
    color: #F5191E;
    border: none;
    margin-top: 8px;
    font-size: 14px;
}  
#user_head{
	position: relative;
}
#img_upload{
	position: absolute;
    top: 20px;
    left: 50%;
    width: 60px;
    transform: translateX(-50%);
    height: 60px;
    opacity: 0;
}
.li_last{
	background: #efeff4 !important;
}
.li_last:after,.li_last>a:after,ul.mui-table-view:after{
	background-color: #efeff4;
}
ul.mui-table-view{
    background-color: #efeff4;
}
ul.mui-table-view li{
	background: #fff;
}
