<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>金龙策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/public/static/home/css/mui.min.css" rel="stylesheet" />
		<link href="/public/static/home/css/moblie/mobliecom.css" rel="stylesheet" />
	</head>
<!--个人中心-银行卡管理-->
	<body class="addbank_body bankcard_body">
		<header class="bg_fff mui-bar mui-bar-nav">
		    <a class="color_red mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">新手引导</h1>
		</header>
		<div class="mui-content">
		  	<section class="bg_fff guide-section">

			    <section class="bg_fff guide-section-1">
			    	<div class="container">
			    		<img src="/public/static/home/img/moblie/1.png"/>
			        </div>
			    </section>
			    
			    <section class="guide-section-2">
			    	 <div class="container">
			                <div class="info-inner-box mui-clearfix ">
			                    <div class="info">
			                        <h4 class="guide-title">02.如何<strong>点买</strong>操作</h4>
			                        <p class="info-detail">●&nbsp;选择股票</p>
			                        <p class="info-detail">●&nbsp;选择策略资金</p>
			                        <p class="info-detail">●&nbsp;选择止盈止损</p>
			                        <p class="info-detail">●&nbsp;确认发起策略</p>
			                    </div>
			                    <div class="section2_img"></div>
			                </div>
			        </div>
			    </section>
			
			    <section class="guide-section-3">
			        <div class="container">
			                <div class="info-inner-box mui-clearfix ">
			                    <div class="section2_img"></div>
			                    <div class="info">
			                        <h4 class="guide-title">03.如何<strong>点卖</strong>操作</h4>
			                        <p class="info-detail">●&nbsp;选择卖出策略</p>
			                        <p class="info-detail">●&nbsp;确认卖出</p>
			                        <p class="info-detail">●&nbsp;结算区查询详情</p>
			                    </div>
			                </div>
			           </div>
			    </section>
				
			    <section class="guide-section-4 guide-section-2">
			        <div class="container">
			        	<div class="info-inner-box mui-clearfix ">
			                    <div class="info">
			                         <h4 class="guide-title">04.五重<strong>保障</strong>更安全</h4>
			                        <p class="info-detail">●&nbsp;网站安全</p>
			                        <p class="info-detail">●&nbsp;风控保障体制</p>
			                        <p class="info-detail">●&nbsp;资金安全保障</p>
			                        <p class="info-detail">●&nbsp;和投资人收益共享</p>
			                    </div>
			                    <div class="section4_img"></div>
			           	</div>
			        </div>
			    </section>
			    
			    <section class="guide-section-5 guide-section-3">
			        <div class="container">
			                <div class="info-inner-box mui-clearfix ">
			                    <div class="section5_img"></div>
			                    <div class="info">
			                        <h4 class="guide-title">05.<strong>盈利</strong>分配</h4>
			                        <p class="info-detail info-detail-gap">●&nbsp;点买人获得100%的交易盈利,系统自动划入点买人的账户。</p>
			                        <p class="info-detail">●&nbsp;点买人承担冻结履约保证金以内的亏损,超出部分由投资人承担。</p>
			                    </div>
			                </div>
			           </div>
			    </section>
			
			    <section class="guide-section-6 guide-section-4">
			        <div class="container">
			        	<div class="info-inner-box mui-clearfix ">
			                    <div class="info">
			                        <h4 class="guide-title">06.<strong>快速</strong>提现</h4>
			                        <p class="info-detail">●&nbsp;T+1快速提现</p>
			                    </div>
			                    <div class="section6_img"></div>
			           	</div>
			        </div>
			    </section>

			</section>
		</div>
		<!---js---->
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="/public/static/home/js/moblie/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			})

		</script>
	</body>
</html>


