<!doctype html>
<html>
   
	<head>
		<meta charset="UTF-8">
		<title>金龙策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/public/static/home/css/mui.min.css" rel="stylesheet" />
		<link href="/public/static/home/css/moblie/tradeCommon.css" rel="stylesheet" />
	</head>
	<!--结算区域-->
	<body class="history_body sell_body">
		<!--标题-->
		<header class="ml_header mui-bar mui-bar-nav">
			<a class="color_red mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">
		    	<a class="Asharebuy" href="/buy.html">A股点买</a>
		    	<a class="freetrial  color_red" href="/freetrial.html">免费体验</a>
		    </h1>
		</header>
		<nav class="ml_tab mui-bar mui-bar-tab">
			    <a class="mui-tab-item" href="/index.html">
			        <span class="mui-icon mui-icon-home"></span>
			        <span class="mui-tab-label">首页</span>
			    </a>
			    <a class="mui-tab-item mui-active" href="/buy.html">
			        <span class="mui-icon mui-icon-phone"></span>
			        <span class="mui-tab-label">A股点买</span>
			    </a>
			    <a class="mui-tab-item " href="/ucenter/home.html">
			        <span class="mui-icon mui-icon-email"></span>
			        <span class="mui-tab-label">我的</span>
			    </a>
		</nav>
		<!--主体-->
		<div class="mui-content">
			<!--链接-->
			<div class="bg_fff mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item " href="/freetrial.html">点买</a>
				<a class="sell_a mui-control-item " href="/freetrialSell.html">点卖</a>
				<a class="mui-control-item mui-active" href="/freetrialHistory.html">结算</a>
			</div>
			<!--内容-->
			<div id="item1" class="mui-control-content mui-active">
				{if condition="count($list) eq 0"}
				<p class="data_empty">暂无持仓</p>
				{else}
				<ul class="mui-table-view">
					 {volist name="list" id="vo"}
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right mui-row" href="#">
				        	<div class="share_l mui-col-xs-6 mui-col-sm-6">
				        		<h5 class="stockName">
				        			{$vo.stockName}
				        			<span class="stockNum font12">({$vo.stockCode})</span>
				        		</h5>
				        		<p>
				        			<span class="date moneyNum">{$vo.sellTime|substr=0,10}</span>
				        			<span class="usableNum">查看详情</span>
				        		</p>
				        	</div>
				        	<span class="title_r mui-text-center mui-col-xs-3 mui-col-sm-3">
				        		<p class="color_black">交易盈亏</p>
				        		<p>
				        		<span {if condition="$vo.profit lt 0"}class="color_green" {else if condition="$vo.profit gt 0" } class="color_red" {/if}>
				            			{$vo.profit|round=2}
				            	</span>元
				        		</p>
				        	</span>
				        	<span class="title_r mui-text-center mui-col-xs-3 mui-col-sm-3">
				        		<p class="color_black">交易分配</p>
				        		<p>
				        		<span {if condition="$vo.profit lt 0"}class="color_green" {else if condition="$vo.profit gt 0" } class="color_red" {/if}>
				            			{if condition="$vo.profit gt 0"} {$vo.profit*(1-$profitFee)|round=2} {else} {$vo.profit|round=2} {/if}
				            	</span>元
				            	</p>
				        	</span>
				        </a>
				       <!--隐藏部分-->
				        <div class="share_info mui-collapse-content">
				            <ul>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">交易单号</span>
				            		<span class="li_r mui-pull-right font12">{$vo.id}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">交易本金</span>
				            		<span class="li_r mui-pull-right font12">2000元</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">买入时间</span>
				            		<span class="li_r mui-pull-right font12">{$vo.createTime}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">买入价格</span>
				            		<span class="li_r mui-pull-right font12">{$vo.dealPrice|round=2}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">买入类型</span>
				            		<span class="li_r mui-pull-right font12">即时买入</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">卖出时间</span>
				            		<span class="li_r mui-pull-right font12">{$vo.sellTime}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">卖出价格</span>
				            		<span class="li_r mui-pull-right font12 color_red">{$vo.sellPrice|round=2}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">交易综合费</span>
				            		<span class="li_r mui-pull-right font12 color_red">{$vo.publicFee}</span>
				            	</li>
				            	<li class="mui-clearfix">
				            		<span class="li_l mui-pull-left font12">递延费</span>
				            		<span class="li_r mui-pull-right font12 color_red">
				            			{$vo.delayFeeSum}
										(递延天数：{if condition="$vo.delayDays gt 2"}{$vo.delayDays - 2}{else}0{/if}天)
				            		</span>
				            	</li>
				            	<p class="float_p bg_fff">
				            		交易盈亏
				            		<span {if condition="$vo.profit lt 0"}class="color_green" {else if condition="$vo.profit gt 0" } class="color_red" {/if}>
				            			{$vo.profit|round=2}
				            		</span>&nbsp;&nbsp;
				            		交易分配 
				            		<span {if condition="$vo.profit lt 0"}class="color_green" {else if condition="$vo.profit gt 0" } class="color_red" {/if}>
				            			{if condition="$vo.profit gt 0"} {$vo.profit|round=2} {else} {$vo.profit|round=2} {/if}
				            		</span>
				            		
				            	</p>
				            </ul>
				        </div>
				    </li>
				     {/volist}
				</ul>
				{/if}
				<div class="pagination_box">
				    {$list->render()}
				</div>	
				
				
			</div>
		</div>
		<script src="/public/static/libs/jquery-2.2.0/jquery-2.2.0.min.js"></script>
		<script src="/public/static/home/js/moblie/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			//href
		 mui('body').on('tap', 'a', function() {
                    var data_href = this.getAttribute("data-href");
                    var href = this.getAttribute("href");
                    var url=data_href;
                    if(!url||url==''){
                        url=href;
                    }
                    if(url != null){
             	      window.location.href = url;
                   }
                   else{
                     var browser = api.require('webBrowser');
                            browser.historyBack(
                              function(ret, err) {
                                  if (!ret.status) {
                                      api.closeWin();
                                  }
                              }
                            );
                   }
         });
         
         //cont
         $('.cont').on('tap',function(e){
         	e.stopPropagation()
         })
         
         //分页高亮
          $('.pagination_box ul.pagination>li').on('tap',function(){
            	if($(this).hasClass('disabled')){return}
            	$(this).addClass('active').siblings().removeClass('active');
            	mui.toast('正在加载...')
           })
		</script>
	</body>

</html>