<!doctype html>
<html>
  
	<head>
		<meta charset="UTF-8">
		<title>金龙策略</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/public/static/home/css/mui.min.css" rel="stylesheet" />
		<link href="/public/static/home/css/moblie/mobliecom.css" rel="stylesheet" />
	</head>
	<!--个人中心-资金明细-->

	<body class="moneydetail_body">
		<header class="bg_fff mui-bar mui-bar-nav">
			<a class="color_red mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资金明细</h1>
		</header>
		<nav class="ml_tab mui-bar mui-bar-tab">
			    <a class="mui-tab-item" href="/index.html">
			        <span class="mui-icon mui-icon-home"></span>
			        <span class="mui-tab-label">首页</span>
			    </a>
			    <a class="mui-tab-item mui-active" href="/buy.html">
			        <span class="mui-icon mui-icon-phone"></span>
			        <span class="mui-tab-label">A股点买</span>
			    </a>
			    <a class="mui-tab-item" href="/ucenter/home.html">
			        <span class="mui-icon mui-icon-email"></span>
			        <span class="mui-tab-label">我的</span>
			    </a>
			</nav>
		<div class="mui-content">
			<div class="">
				<!--控制器-->
				<div class="mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item {if condition="$_GET['flow'] eq ''"} mui-active {/if}" data-href="/ucenter/index.html?recent={$_GET['recent']}" >全部</a>
					<a class="mui-control-item {if condition="$_GET['flow'] eq '1'"} mui-active {/if}" data-href="/ucenter/index.html?flow=1&recent={$_GET['recent']}" >收入</a>
					<a class="mui-control-item {if condition="$_GET['flow'] eq '2'"} mui-active {/if}" data-href="/ucenter/index.html?flow=2&recent={$_GET['recent']}" >支出</a>
				</div>
				<!--内容-->
				<div class="">
					<!--item1-收入和支出-->
					<div id="item1" class="mui-control-content mui-active">
						{if condition="($fundrecord|count) gt  '0' "}
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							{volist name="fundrecord" id="vo"}
							<li class="mui-table-view-cell">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-10">
										<h5 class="money_title color_black">{$vo.remarks}</h5>
										<p class="money_date mui-h6">{$vo.createTime}</p>
									</div>
									<div class="mui-table-cell mui-col-xs-2 mui-text-right">
										{if condition="$vo.flow eq 2"}<span class="money_num mui-h5 color_green">-{$vo.amount|round=2}</span>
						                {else}<span class="money_num mui-h5 color_red">{$vo.amount|round=2}</span>
						                {/if}	
									</div>
								</div>
							</li>
							 {/volist}
						</ul>
						<div class="pagination_box">
					    	{$fundrecord->render()}
					   </div>
					    {else}
					    <p class="data_empty">暂无数据</p>
					    {/if}
					</div>

				</div>
			</div>

		</div>
		<!---js---->
		<script src="/public/static/home/js/moblie/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			})
			//href
			 mui('body').on('tap', 'a', function() {
	                    var data_href = this.getAttribute("data-href");
	                    var href = this.getAttribute("href");
	                    var url=data_href;
	                    if(!url||url==''){
	                        url=href;
	                    }
	                    if(url != null){
             	      window.location.href = url;
                   }
                   else{
                     var browser = api.require('webBrowser');
                            browser.historyBack(
                              function(ret, err) {
                                  if (!ret.status) {
                                      api.closeWin();
                                  }
                              }
                            );
                   }
	         });
		</script>
	</body>

</html>