								/*找回密码*/
.main { width:1004px; margin:0 auto;} 
/*输入框*/
.password_find .cont_1 .shur_1 .ul_1 li .sframe { height:32px; border:1px solid #e6e6e6; background:url(/images/img/input_bk.gif) repeat-x; line-height:32px; padding-left:10px; color:#b3b3b3; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; float:left;}
.password_find .cont_1 .shur_1 .ul_1 li .sframe_1 { width:340px;}
.password_find .cont_1 .shur_1 .ul_1 li .sframe_2 { width:130px;}
/*头部logo*/
.top_logo { width:100%;}
.top_logo .logo { display:block; width:309px; height:90px; background:url(/images/img/hlz_logo_password.jpg) no-repeat;  float:left}
/*找回密码*/
.password_find { background:#fff;  display:block; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; *width:1002px; min-height:550px; *height:550px; margin-bottom:20px; box-shadow: 0px 2px 3px #e1e1e1; -moz-box-shadow: 0px 2px 3px #e1e1e1; -ms-box-shadow: 0px 2px 3px #e1e1e1; -o-box-shadow: 0px 2px 3px #e1e1e1; -webkit-box-shadow: 0px 2px 3px #e1e1e1; border:1px solid #e6e6e6;}
.password_find .tit { height:45px; line-height:45px; border-bottom:2px solid #f2f2f2; font-size:18px; color:#434f63; margin:0 20px;} 
.password_find .tit i { color:#b3b3b3; font-size:14px; margin-left:5px;}
.password_find .cont_1 .step_1 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/password_d1.png) no-repeat; margin-top:20px;}
.password_find .cont_1 .step_2 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/password_d2.png) no-repeat; margin-top:20px;}
.password_find .cont_1 .step_3 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/password_d3.png) no-repeat; margin-top:20px;}
.password_find .cont_1 .step_4 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/password_d4.png) no-repeat; margin-top:20px;}

.password_find .cont_1 .shur_1 { width:470px; margin:0 auto; margin-top:80px; }
.password_find .cont_1 .shur_1 .ul_1 { display:block;}
.password_find .cont_1 .shur_1 .ul_1 li { display:block; height:34px; line-height:34px; margin-top:30px;}
.password_find .cont_1 .shur_1 .ul_1 .tis { height:15px; line-height:15px; margin-top:5px; padding-left:95px; color:#f97474; display:none;}
.password_find .cont_1 .shur_1 .ul_1 li .text { font-size:14px; color:#808080; width:90px; display:block; float:left; text-align:right; margin-right:5px;}

.password_find .cont_1 .shur_1 .ul_1 li .bi { color:#f97474; margin-left:5px;}
.password_find .cont_1 .shur_1 .ul_1 li .yan { display:block; float:left; margin-left:10px;}
.password_find .cont_1 .shur_1 .ul_1 li .yan img { width:64px; height:34px;}
.password_find .cont_1 .shur_1 .ul_1 li .sx { display:block; float:left; height:34px; width:17px;background:url(/images/img/refresh_1.gif) no-repeat center; margin:0 10px; }

.password_find .cont_1 .shur_1 .ul_1 li .button_1 { display:block; width:120px; height:34px; line-height:34px; text-align:center; background:#4b6289; border-bottom:4px solid #2c3f5f; padding:0 10px; font-size:14px; color:#fff; margin-left:95px;}
.password_find .cont_1 .shur_1 .ul_1 li .button_1:hover { background:#516b97;}


.password_find .cont_1 .shur_1 .ul_1 li .send_1 { background:url(../img/button_bk2.gif) repeat-x;color:#4d4d4d;}
.password_find .cont_1 .shur_1 .ul_1 li .send_1:hover{box-shadow: 0px 2px 3px #ebebeb; color:#009cff;}
.password_find .cont_1 .shur_1 .ul_1 li .send_2 { background:#f3f3f3; color:#999;}

.password_find .cont_1 .shur_1 .ul_1 li .send { display:block; float:left; height:22px; line-height:22px; padding:0 10px; border:1px solid #dbdbdb; cursor:pointer; margin:5px 0 0 10px; }

.password_find .cont_1 .shur_1 .ul_1 .tis_1 { height:15px; line-height:15px; margin-top:5px; margin-left:95px; color:#f97474; display:block; color:#808080;background:url(/images/img/password_find_cg.gif) no-repeat left center; padding-left:20px; display:none;}
.password_find .cont_1 .shur_1 .ul_1 .tis_1 a { color:#009cff;}
.password_find .cont_1 .shur_1 .ul_1 .tis_1 a:hover { color:#f05454;}

.password_find .cont_1 .shur_1 .ul_1 .tis_3 { width:350px; height:24px;  margin-top:5px; margin-left:95px; }

.password_find .cont_1 .complete { width:390px; margin:0 auto; margin-top:60px; margin-bottom:60px;}
.password_find .cont_1 .complete p { display:block;}
.password_find .cont_1 .complete .p_1 { height:80px; line-height:80px; font-size:24px; color:#4b6289; background:url(/images/img/password_complete.png) no-repeat left center; padding-left:100px;}
.password_find .cont_1 .complete .p_2 { color:#b3b3b3; padding-left:100px;}
.password_find .cont_1 .complete .p_2 a { color:#00b4ff; margin-left:10px;}
.password_find .cont_1 .complete .p_2 a:hover { color:#f05454;} 

									/*邮箱找回密码*/
.binding_find .cont_1 .shur_1 .ul_1 li .sframe { height:32px; border:1px solid #e6e6e6; background:url(/images/img/input_bk.gif) repeat-x; line-height:32px; padding-left:10px; color:#b3b3b3; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; float:left;}
.binding_find .cont_1 .shur_1 .ul_1 li .sframe_1 { width:340px;}
.binding_find .cont_1 .shur_1 .ul_1 li .sframe_2 { width:130px;}
.binding_find .cont_1 .shur_1 .ul_1 li .sframe_3 {width:220px;}
.binding_find .cont_1 .shur_1 .ul_1 li .zhu { display:block; float:left; margin-left:10px;}
.binding_find .cont_1 .shur_1 .ul_1 li .cz { display:block; float:left; margin-left:10px; color:#009cff; border:none; background:none; height:34px; cursor:pointer;}
.binding_find .cont_1 .shur_1 .ul_1 li .cz:hover { color:#f05454;}
.binding_find .cont_1 .shur_1 .ul_1 li .h { display:block; float:left; margin-left:10px; color:#ccc;}
/*找回密码*/ 
.binding_find { background:#fff;  display:block; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; *width:1002px; min-height:550px; *height:550px; margin-bottom:20px; box-shadow: 0px 2px 3px #e1e1e1; -moz-box-shadow: 0px 2px 3px #e1e1e1; -ms-box-shadow: 0px 2px 3px #e1e1e1; -o-box-shadow: 0px 2px 3px #e1e1e1; -webkit-box-shadow: 0px 2px 3px #e1e1e1; border:1px solid #e6e6e6;}
.binding_find .tit { height:45px; line-height:45px; border-bottom:2px solid #f2f2f2; font-size:18px; color:#434f63; margin:0 20px;} 
.binding_find .tit i { color:#b3b3b3; font-size:14px; margin-left:5px;}
.binding_find .cont_1 { float:left; margin-left:20px; *margin-left:10px;  width:630px;}
.binding_find .cont_1 .step_1 { width:630px; height:50px; display:block; margin:0 auto; background:url(/images/img/binding_fin_1.png) no-repeat; margin-top:20px;}
.binding_find .cont_1 .step_2 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/binding_fin_2.png) no-repeat; margin-top:20px;}
.binding_find .cont_1 .step_3 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/binding_fin_3.png) no-repeat; margin-top:20px;}
.binding_find .cont_1 .step_4 { width:922px; height:50px; display:block; margin:0 auto; background:url(/images/img/password_d4.png) no-repeat; margin-top:20px;}

.binding_find .cont_1 .shur_1 { width:470px; margin:0 auto; margin-top:80px; *margin-top:40px; }
.binding_find .cont_1 .shur_1 .ul_1 { display:block;}
.binding_find .cont_1 .shur_1 .ul_1 li { display:block; height:34px; line-height:34px; margin-top:30px;}
.binding_find .cont_1 .shur_1 .ul_1 .tis { height:15px; line-height:15px; margin-top:5px; padding-left:95px; color:#f97474; display:none;}
.binding_find .cont_1 .shur_1 .ul_1 li .text { font-size:14px; color:#808080; width:90px; display:block; float:left; text-align:right; margin-right:5px;}

.binding_find .cont_1 .shur_1 .ul_1 li .bi { color:#f97474; margin-left:5px;}
.binding_find .cont_1 .shur_1 .ul_1 li .yan { display:block; float:left; margin-left:10px;}
.binding_find .cont_1 .shur_1 .ul_1 li .yan img { width:64px; height:34px;}
.binding_find .cont_1 .shur_1 .ul_1 li .sx { display:block; float:left; height:34px; width:17px;  background:url(/images/img/refresh_1.gif) no-repeat center; margin:0 10px; }

.binding_find .cont_1 .shur_1 .ul_1 li .button_5 { display:block; width:120px; height:34px; line-height:34px; text-align:center; background:#4b6289; border-bottom:4px solid #2c3f5f; padding:0 10px; font-size:14px; color:#fff; margin-left:95px;}
.binding_find .cont_1 .shur_1 .ul_1 li .button_5:hover { background:#516b97;}


.binding_find .cont_1 .shur_1 .ul_1 li .send_1 { background:url(/images/img/button_bk2.gif) repeat-x;color:#4d4d4d;}
.binding_find .cont_1 .shur_1 .ul_1 li .send_1:hover{box-shadow: 0px 2px 3px #ebebeb; color:#009cff;}
.binding_find .cont_1 .shur_1 .ul_1 li .send_2 { background:#f3f3f3; color:#999;}

.binding_find .cont_1 .shur_1 .ul_1 li .send { display:block; float:left; height:22px; line-height:22px; padding:0 10px; border:1px solid #dbdbdb; cursor:pointer; margin:5px 0 0 10px; }

.binding_find .cont_1 .shur_1 .ul_1 .tis_1 { height:15px; line-height:15px; margin-top:5px; margin-left:95px; color:#f97474; display:block; color:#808080; background:url(../img/password_find_cg.gif) no-repeat left center; padding-left:20px; display:none;}
.binding_find .cont_1 .shur_1 .ul_1 .tis_1 a { color:#009cff;}
.binding_find .cont_1 .shur_1 .ul_1 .tis_1 a:hover { color:#f05454;}

.binding_find .cont_1 .shur_1 .ul_1 .tis_3 { width:350px; height:24px;  margin-top:5px; margin-left:95px; }

.binding_find .cont_1 .complete { width:390px; margin:0 auto; margin-top:60px; margin-bottom:60px;}
.binding_find .cont_1 .complete p { display:block;}
.binding_find .cont_1 .complete .p_1 { height:80px; line-height:80px; font-size:24px; color:#4b6289; background:url(/images/img/password_complete.png) no-repeat left center; padding-left:100px;}
.binding_find .cont_1 .complete .p_2 { color:#b3b3b3; padding-left:100px;}
.binding_find .cont_1 .complete .p_2 a { color:#00b4ff; margin-left:10px;}
.binding_find .cont_1 .complete .p_2 a:hover { color:#f05454;} 

.binding_find .cont_2 { float:right; width:326px; border-left:1px dashed #dfdfdf; min-height:503px; *height:503px;}
.binding_find .cont_2 .tit_2 { display:block; font-size:14px; color:#808080; margin-top:20px; margin-left:10px;}
.binding_find .cont_2 p { display:block; line-height:25px; margin:0 20px; color:#808080; margin-top:10px;}
.binding_find .cont_2 p .red { color:#ff975f;}

.binding_find .complete { width:430px; margin:0 auto; margin-top:60px; margin-bottom:60px;}
.binding_find .complete p { display:block;}
.binding_find .complete .p_1 { height:80px; line-height:80px; font-size:24px; color:#4b6289; background:url(/images/img/password_complete.png) no-repeat left center; padding-left:100px;}
.binding_find .complete .p_2 { color:#b3b3b3; padding-left:100px;}
.binding_find .complete .p_2 a { color:#00b4ff; margin-left:10px;}
.binding_find .complete .p_2 a:hover { color:#f05454;}

.binding_find .cont_1 .shur_2 { width:570px !important;} 
