<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>金龙策略</title>
</head>

<body class="logged-in company_body">
	<!--头部-->
{include file="public:top" /}
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/home/css/company.css"/>

	<!--关于我们-->
<div class="br-content">
    <div class="w1024 bg_f">
        <div class="title_box">
            <h1 class="title_cp_h">关于我们</h1>

            <p class="title_cp_p">ABOUT US</p>
        </div>
        <section class="com-info">
            <ul class="clearfix">
                <li class="info-1">
                    <p>稳健收入</p>
                    <span>年化收益高有保障</span>
                </li>
                <li class="info-2">
                    <p>安全投资</p>
                    <span>具有安全的投资渠道</span>
                </li>
                <li class="info-3">
                    <p>卓越保障</p>
                    <span>多重筛选 铸就卓越风控</span>
                </li>
                <li class="info-4">
                    <p>轻松投资</p>
                    <span>财富增值从这里开始</span>
                </li>
            </ul>
        </section>
        <section class="page-company article-main br-clearfix">
            <div class="text_p br-fl">
                <p>
                    <label>金龙策略</label>（<label>宁波鑫钰网络科技有限公司</label>） 。创立于2016年，是全国首批响应国家“普惠金融”号召的互联网金融企业。
                </p>

                <p>
                    <label>金龙策略</label>初创团队由国内知名互联网公司腾讯及多位证劵、金融、私募领域的资深专家共同组建而成，产品由原百度研发团队开发完成并投入市场。依托四年线下投资咨询及资产管理业务经验及资源，赢得了良好的用户口碑，随着平台快速的发展，借助互联网金融之势，强势推出各种互联网金融产品，黑马策略
                    已成为互联网金融行业的领军品牌。
                </p>

                <p>
                    <label>金龙策略</label>以"安全第一，用户至上"的理念，始终坚持严格的风险管理流程、创新的互联网技术、优质的客户服务确保投资者获得更低利率资金，让投资者能够轻松简单的实现财富梦想。
                </p>
            </div>
            <img class="br-fr" src="/public/static/home/img/cp_img.png"/>
        </section>
      
    </div>
</div>
<!--footer-->
{include file="public:footer" /}
<!--认证银行卡-->
<div class="popup" id="popup-id-verify">
            <div class="popup-header group">
                <h2>认证银行卡</h2>
                <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
            </div>
            <div class="popup-body group">
                <div class="field-row group" style="text-align:center">
                    <ol class="popup-note">
                        <li style="text-align:left;">提现和免费体验前必须先绑定一张银行卡</li>
                        <li style="text-align:left;">请务必认真填写真实资料</li>
                        <li style="text-align:left;">银行卡采用实名认证，一个身份证只能绑定一个账号</li>
                        <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
                    </ol>
                    <p>为了保障您的账户安全，请先绑定银行卡</p>
                </div>
                <div class="btn-row group">
                    <a class="btn btn-pri" href="/ucenter/BankCards.html">去绑定</a>
                    <a class="btn btn-pri js-close-popup" href="javascript:;">暂不绑定</a>
                </div>
            </div>
        </div>
<!--实名认证-->
<div class="popup" id="popup-realname-auth">
            <div class="popup-header group">
                <h2>实名认证</h2>
                <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
            </div>
            <div class="popup-body group">
                <div class="field-row group" style="text-align:center">
                    <ol class="popup-note">
                        <li style="text-align:left;">一个身份证对应一个账号</li>

                        <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
                    </ol>
                    <p>为了保障您的账户安全，请先进行实名认证</p>
                </div>
                <div class="field-row group">
                    <label>真实姓名：</label>

                    <div class="field-val"><input id="姓名i" type="text" class="text"
                                                  onchange="user_updateid_zsxm_valid()"></div>
                </div>
                <div id="zsxm_err1" class="error-wrapper" style="margin-left:100px; display:none">
                    <div><i class="icon icon-x-altx-alt"></i>未填写姓名</div>
                </div>
                <div class="field-row group">
                    <label>身份证号：</label>

                    <div class="field-val">
                        <div class="field-val">
                            <input id="身份证i" type="text" class="text" onchange="user_updateid_sfzh_valid()">
                        </div>
                    </div>
                </div>
                <div id="sfzh_err1" class="error-wrapper" style="margin-left:100px; display:none">
                    <div><i class="icon icon-x-altx-alt"></i>请填写准确的身份证</div>
                </div>
                <div class="btn-row group">
                    <a id="user_UpdateSelfIdA" class="btn btn-pri" href="javascript:void(0)">确认</a>
                    <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
                </div>
            </div>
        </div>
         
        
        
<!--<script src="/public/static/home/js/reg.js"></script>-->
</body>

</html>