<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金龙策略</title>
</head>
<body class="guild_body helpcenter logged-in">
{include file="public:top" /}
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/home/css/guide.css"/>

<!--帮助区-新手教学-->
<div class="br-content">
<section class="guide-section">

    <section class="guide-section-1">
        <div class="container">
            <h4 class="guide-title">01.了解<strong>金龙策略</strong>投资</h4>
            <div class="guide-section_img">
            	<p class="section1_p p_top">提供交易保障金</p>
            	<p class="section1_p p_top">提供违约保障金</p>
            	<p class="section1_p ">合作平台</p>
            	<p class="section1_p ">策略指令</p>
            	<p class="section1_p ">匹配投资人</p>
            	<p class="section1_p ">提供买卖策略</p>
            	<p class="section1_p ">我的平台</p>
            	<p class="section1_p ">执行买卖策略</p>
            </div>
        </div>
    </section>
    
    <section class="guide-section-2">
        <div class="container">
                <div class="info-inner-box br-clearfix ">
                    <div class="info">
                        <h4 class="guide-title">02.如何<strong>点买</strong>操作</h4>
                        <p class="info-detail">●&nbsp;选择股票</p>
                        <p class="info-detail">●&nbsp;选择策略资金</p>
                        <p class="info-detail">●&nbsp;选择止盈止损</p>
                        <p class="info-detail">●&nbsp;确认发起策略</p>
                    </div>
                    <div class="section2_img"></div>
                </div>
           </div>
    </section>

    <section class="guide-section-3">
        <div class="container">
                <div class="info-inner-box br-clearfix ">
                    <div class="section2_img"></div>
                    <div class="info">
                        <h4 class="guide-title">03.如何<strong>点卖</strong>操作</h4>
                        <p class="info-detail">●&nbsp;选择卖出策略</p>
                        <p class="info-detail">●&nbsp;确认卖出</p>
                        <p class="info-detail">●&nbsp;结算区查询详情</p>
                    </div>
                </div>
           </div>
    </section>
	
    <section class="guide-section-4">
        <div class="container">
        	<div class="info-inner-box br-clearfix ">
                    <div class="info">
                         <h4 class="guide-title">04.五重<strong>保障</strong>更安全</h4>
                        <p class="info-detail">●&nbsp;网站安全</p>
                        <p class="info-detail">●&nbsp;风控保障体制</p>
                        <p class="info-detail">●&nbsp;资金安全保障</p>
                        <p class="info-detail">●&nbsp;和投资人收益共享</p>
                    </div>
                    <div class="section4_img"></div>
           	</div>
        </div>
    </section>
    
    <section class="guide-section-5 guide-section-3">
        <div class="container">
                <div class="info-inner-box br-clearfix ">
                    <div class="section5_img"></div>
                    <div class="info">
                        <h4 class="guide-title">05.<strong>盈利</strong>分配</h4>
                        <p class="info-detail info-detail-gap">●&nbsp;点买人获得100%的交易盈利,系统自动划入点买人的金龙策略账户。</p>
                        <p class="info-detail">●&nbsp;点买人承担冻结履约保证金以内的亏损,超出部分由投资人承担。</p>
                    </div>
                </div>
           </div>
    </section>

    <section class="guide-section-6 guide-section-4">
        <div class="container">
        	<div class="info-inner-box br-clearfix ">
                    <div class="info">
                        <h4 class="guide-title">06.<strong>快速</strong>提现</h4>
                        <p class="info-detail">●&nbsp;T+1快速提现</p>
                    </div>
                    <div class="section6_img"></div>
           	</div>
        </div>
    </section>

</section>


</div>
{include file="public:footer" /}
<script src="/public/static/home/js/help.js"></script>
</body>
</html>
