<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body class="index_body">

{include file="public:top" /}
<link href="/public/static/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/static/home/css/index.css"/>
<link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
<!--banner-->
	<div class="banner_login br-w100">
		<div class="bBanner br-w100">
			<div class="w1024">
					<div class="login_main" {if condition="$_SESSION['member'] neq '' "} style="display: none;" {/if}>
					<p>用户登录</p>
					<from>
						<input type="text" name="" id="username" placeholder="用户名"/>
						<div id="err1" class="err">请输入正确用户名</div>
						<input type="password" name="" id="password" placeholder="密码"/>
						<div id="err2" class="err">请输入正确密码</div>
						<div class="login_box">
							<a href="javascript:;" class="btn_login">登录</a>
							<a href="/reg.html" class="btn_reg">注册</a>
						</div>
					</from>
				</div>
			</div>
			<!--轮播图-->
			<div class="home_banner">
				<div id="myCarousel" class="carousel slide">
				   <!-- 轮播（Carousel）指标 -->
				   <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				   </ol>  
				   <!-- 轮播（Carousel）项目 -->
				   <div class="carousel-inner">
				      <div class="item active">
				      	<div class="carImg"></div>
				      </div>
				      <div class="item">
				         <div class="carImg2"></div>
				      </div>
				      <div class="item">
				         <div class="carImg"></div>
				      </div>
				   </div>
				   <!-- 轮播（Carousel）按钮导航 -->
				   <a class="carousel-control left" href="#myCarousel"
				      data-slide="prev">&lsaquo;</a>
				   <a class="carousel-control right" href="#myCarousel"
				      data-slide="next">&rsaquo;</a>
				</div>
			</div>
			
		</div>
	</div>
	<!--点买A股-->
	<div class="AS_box br-w100">
		<!--3个盒子-->
		<div class="three_box w1024 br-clearfix">
			<div class="three_item br-fl"><a href="/company.html" style="display: block;"><img src="/public/static/home/img/p (3).png"/></a>
				<p class="tit">一分钟了解金龙策略</p>
				<p class="tib">全新的投资人策略匹配平台</p>
			</div>
			<div class="three_item br-fl"><a href="javascript:;" style="display: block;"><img src="/public/static/home/img/p (2).png"/></a>
				<p class="tit">用心服务</p>
				<p class="tib">一对一专业客服（电话 微信 QQ）</br>全程指导</p>
			</div>
			<div class="three_item br-fl"><a href="javascript:;" style="display: block;"><img src="/public/static/home/img/p (1).png"/></a>
				<p class="P_block" style="float: left;">累计匹配策略 </br><span>{$count + 256}</span>条</p>
				<p class="P_block" style="float: right;">累计盈利</br><span>{:round($earnSum + 5758000, 2 ) }</span>元</p>
			</div>
		</div>
		<div class="AS_box_cont w1024 br-text-center">
			<h1 class="br-ml-title">POINT TO BUY A SHARES</h1>
			<div class="br-ml-line"></div>
			<p class="br-ml-bt">点买A股</p>
			<div class="AS_contImg br-clearfix">
				<div class="three_item br-fl">
					<div class="ASitem_top"><img src="/public/static/home/img/01.png"/></div>
					<div class="ASitem_bot br-clearfix">
						<span class="ASbot_l br-fl"><img src="/public/static/home/img/num (1).png"/></span>
						<p class="ASbot_r br-fl">点买人只需最低1250元履<br>约保证金支付50元交易综合费</p>
					</div>
				</div>
				<div class="three_item br-fl">
					<div class="ASitem_top"><img src="/public/static/home/img/02.png"/></div>
					<div class="ASitem_bot br-clearfix">
						<span class="ASbot_l br-fl"><img src="/public/static/home/img/num (2).png"/></span>
						<p class="ASbot_r br-fl">即刻提交策略系统智能匹<br>配投资人，投资人实施买入</p>
					</div>
				</div>
				<div class="three_item br-fl">
					<div class="ASitem_top"><img src="/public/static/home/img/03.png"/></div>
					<div class="ASitem_bot br-clearfix">
						<span class="ASbot_l br-fl"><img src="/public/static/home/img/num (3).png"/></span>
						<p class="ASbot_r br-fl">点买人获得的交易盈利<br>系统自动划入点买人账户</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--获得更高收益-->
	<div class="highYields br-w100">
		<div class="w1024 br-clearfix">
			<div class="high_l br-fl ">
				<h1>获得更高收益</h1>
				<p>提供投资策略金和投资人分享高额回报</p>
				<a href="/buy.html" class="">进入点买A股</a>
			</div>
			<div class="high_r br-fr ">
				<table>
					{volist name="buyList" id="vo" length=4}
					<tr>
						<td class="nickname">{$vo['mobile']}</td>
						<td class="time">{$vo['time']}</td>
						<td class="celue">策略</td>
						<td class="stockNumber">{$vo['stockName']}[{$vo['stockCode']}]</td>
					</tr>
					{/volist}
				</table>
			</div>
		</div>
	</div>
	<!--5重保障-->
	<div class="guarantee br-w100">
		<div class="w1024 br-text-center">
			<h1 class="br-ml-title">WE WILL ENSURE YOUR BEST INTEREST</h1>
			<div class="br-ml-line"></div>
			<p class="br-ml-bt">5重保障最大力度保障您的利益</p>
			<div class="guarantee_botBox br-clearfix">
				<div class="guarantee_item bg1">网站安全</div>
				<div class="guarantee_item bg1">风控<br>保险体质</div>
				<div class="guarantee_item bg1">客服<br>秒回复</div>
				<div class="guarantee_item bg1">资金<br>安全保障</div>
				<div class="guarantee_item bg1">费率低<br>客户盈利<br>不分成</div>
				
			</div>
		</div>
	</div>
	<!--点买人盈利亏损-->
	<div class="PAL br-w100 br-text-center">
		<div class="w1024 br-clearfix">
			<div class="PAL_item br-fl">
				<div class="item_img"></div>
				<p>点买人获得的交易盈利，系统自动<br>划入点买人的金龙策略账户</p>
			</div>
			<div class="PAL_item br-fr">
				<div class="item_img"></div>
				<p>点买人承担履约保证金以内的亏损<br>超出部分由投资人承担</p>
			</div>
		</div>
	</div>
	 <!--service-->
	 <div class="service br-text-center br-w100">
	 	<div class="w1024">
		 	<h1 class="br-ml-title">OUR SERVICE</h1>
			<div class="br-ml-line"></div>
			<p class="br-ml-bt">我们的服务</p>
			<div class="service_box br-clearfix">
				<h1>A股点买去<span>金龙策略</span></h1>
				<p class="sp1">“股票点买最安全平台”</p>
				<p class="sp2">急速撮合<br>仅需填写简单资料<br>提交策略<br>就能马上提交投资人赚钱</p>
				<a href="/reg.html">立即注册</a>
			</div>
	 	</div>
	 </div>
	 <!--微信交易-->
	 <div class="weChatDeal br-w100">
	 	<div class="w1024">
	 		<div class="weChatDeal_box">
	 			<h1>微信端交易更加方便</span></h1>
	 			<p class="sp1">“下单 持仓 结算 一目了然”</p>
	 			<p class="sp2">更多优惠活动等着您</p>
	 		</div>
	 	</div>
	 </div>
	 <!--合作伙伴-->
	 <div class="companion br-w100 br-text-center">
	 	<div class="w1024">
	 		<h1 class="br-ml-title">PARTNERS</h1>
			<div class="br-ml-line"></div>
			<p class="br-ml-bt">合作伙伴</p>
			<div class="companion_box br-clearfix">
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
				<div class="cp_item"></div>
			</div>
	 	</div>
	 </div>

{include file="public:footer" /}

<!--认证银行卡-提示绑定-->
<div class="popup" id="popup-id-verify">
    <div class="popup-header group">
        <h2>认证银行卡</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">提现和免费体验前必须先绑定一张银行卡</li>
                <li style="text-align:left;">请务必认真填写真实资料</li>
                <li style="text-align:left;">银行卡采用实名认证，一个身份证只能绑定一个账号</li>
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先绑定银行卡</p>
        </div>
        <div class="btn-row group">
            <a class="btn btn-pri" href="/ucenter/bankCards.html">去绑定</a>
            <a class="btn btn-pri js-close-popup" href="javascript:;">暂不绑定</a>
        </div>
    </div>
</div>
<!--实名认证-->
<div class="popup" id="popup-realname-auth">
    <div class="popup-header group">
        <h2>实名认证</h2>
        <a href="javascript:;" class="js-close-popup"><i class="icon icon-close"></i></a>
    </div>
    <div class="popup-body group">
        <div class="field-row group" style="text-align:center">
            <ol class="popup-note">
                <li style="text-align:left;">一个身份证对应一个账号</li>
                
                <li style="text-align:left;">如遇到问题，请联系客服 <label id="m_basic_mobile">021-80321818</label></li>
            </ol>
            <p>为了保障您的账户安全，请先进行实名认证</p>
        </div>
        <div class="field-row group">
            <label>真实姓名：</label>
            <div class="field-val"><input id="姓名i" type="text" class="text"></div>
        </div>
        <div id="zsxm_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>未填写姓名</div></div>
        <div class="field-row group">
            <label>身份证号：</label>
            <div class="field-val">
                <div class="field-val">
                    <input id="身份证i" type="text" class="text">
                </div>
            </div>
        </div>
        <div id="sfzh_err1" class="error-wrapper" style="margin-left:100px; display:none"><div><i class="icon icon-x-altx-alt"></i>请填写准确的身份证</div></div>
        <div class="btn-row group">
            <a id="user_UpdateSelfIdA" class="btn btn-pri" href="javascript:void(0)">确认</a>
            <a class="btn btn-sec js-close-popup" href="javascript:;">取消</a>
        </div>
    </div>
</div>
<script src="/public/static/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/public/static/home/js/index.js"></script>

</body>
</html>