<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务协议</title>
    <link rel="stylesheet" type="text/css" 金龙="/public/static/home/css/buy.css"/>
    <link rel="stylesheet" type="text/css" 金龙="/public/static/home/css/protocol.css"/>
</head>
<body>
    <div class="agree-wrap">
        <h3 class="title"><label>金龙策略</label>服务协议</h3>
        <p>金龙策略服务协议（以下简称“本协议”）是平台运营方宁波鑫钰网络科技有限公司（以下简称“本公司”）与金龙策略用户（包含策略人和投资人，以下简称“用户”）就金龙策略服务相关事项订立的有效合约。本协议由协议正文以及本公司通过金龙策略已经发布的或将来可能发布的各类规则和文件的各项规定组成，如金龙策略发布的规则和文件与协议正文有冲突，以公布生效日期或签署日期在后的规则或文件为准执行。用户通过网络页面点击确认接受本协议，即表示用户与本公司已达成合意并同意接受本协议项下的全部约定内容。</p>
        <p>在接受本协议之前，用户务必仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果用户不同意本协议的任意内容，或者无法准确理解该条款的含义，请不要进行后续操作。</p>
        <h3 class="topic">一、定义</h3>
        <p>本协议中，除非上下文另有解释，下列词语具有如下含义：</p>
        <p>1、交易平台：指金龙策略信息中介平台，由宁波鑫钰网络科技有限公司。</p>
        <p>2、金龙策略：指金龙策略信息平台，面向金龙策略用户提供包括但不限于沪深所A股交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理、交易清结算等服务的线上中介服务平台。</p>
        <p>3、策略人：指通过金龙策略注册成为策略人的用户，作为投资人的交易合作方，负责向投资人提供交易策略的自然人。</p>
        <p>4、投资人：投资人：指通过金龙策略注册成为投资人的用户，作为策略人的交易合作方，负责按策略人交易策略并利用自有资金和账户进行交易的自然人或法人。</p>
        <p>5、支付机构：指金龙策略委托的为金龙策略用户提供资金划转、查询、结算等支付服务的非金融支付机构。本协议项下提供上述服务的机构为连连支付清算信息有限公司（以下简称“连连支付”）。</p>
        <h3 class="topic">二、<label>金龙策略</label>服务</h3>
        <p><label>金龙策略</label>为用户提供以下服务：</p>
        <p>1、交易合作撮合服务</p>
        <p><label>金龙策略</label>作为策略人和投资人的中间方，对策略人的交易策略和投资人的交易需求进行匹配，撮合双方建立一对一的交易合作关系。</p>
        <p>2、交易指令通讯服务</p>
        <p><label>金龙策略</label>为策略人和投资人交易合作过程中提供向对方发送／接收交易指令通讯服务，交易指令包括：策略指令和点卖指令。<label>金龙策略</label>交易指令通讯速度从策略人发出交易指令被<label>金龙策略</label>确认时点至投资人接收到交易指令时点，两时点时间间隔原则不超过60秒。</p>
        <p>3、交易风控管理服务</p>
        <p>为最大程度确保策略人与投资人交易合作正常进行，保障双方利益，<label>金龙策略</label>将：</br>
        	&nbsp;&nbsp;1）对存在退市、停牌等风险的交易品种，以风险警示形式（包括但不限于《策略风险警示股名单》、《递延风险警示股名单》等）实时发布</br>
        	&nbsp;&nbsp;2）对于高风险交易品种要求策略人完成指定时长或指定数量的模拟交易后，方具备参与该交易品种交易合作资格。</br>
        	&nbsp;&nbsp;3）根据策略人交易策略历史业绩，调整策略人参与交易合作的额度。</br>
        	&nbsp;&nbsp;4）根据投资人与策略人交易数据和市场系统性风险分析，调整产品范围及具体方案等。
        </p>
        <p>4、交易清结算服务</p>
        <p><label>金龙策略</label>根据策略人和投资人签署的《交易合作协议》相关约定，为双方提供交易清结算服务。</p>
        <p>5、资金支付服务</p>
        <p>策略人与投资人交易合作过程发生的涉及交易款项的支付和结算都将由金龙策略委托连连支付处理。双方应保证金龙策略账户状态正常，并确保账户中有足额的资金以便正常划转。因一方账户状态异常导致交易无法实现的，所有损失由金龙策略自行承担。</p>
        <p>6、用户交易合作协议生成与保管</p>
        <p>金龙策略为策略人和投资人生成交易合作协议供双方查询、存档。金龙策略会对策略人和投资人在金龙策略发生的交易信息及生成的协议保存三年。</p>
        <p>7、服务费及收费标准</p>
        <p>金龙策略向策略人和投资人收取一定的费用，具体收费事项及资费标准由金龙策略另行与用户约定或者通过金龙策略进行展示。</p>
        <h3 class="topic">三、声明与承诺</h3>
        <p>1、用户除需要遵守本协议约定外，还应遵守履行本协议有关的附件。</p>
        <p>2、用户保证除协议另有约定外，对于其交易合作达成后不得变更、撤销或撤回。</p>
        <p>3、用户保证不会利用金龙策略进行非法证券交易、资金非法转移、套现及洗钱等违法犯罪活动；</p>
        <p>4、用户保证其所参与交易合作的资金来源合法，是该资金的合法所有人，完全有权使用该资金进行交易；如第三人对资金归属、合法性问题发生争议，由用户负责解决，与金龙策略无关，并保证及时赔偿交易合作方因此所遭受的一切损失</p>
        <p>5、用户变更账户信息、通讯地址、电话等相关重要信息，须及时书面或其他金龙策略同意的方式通知金龙策略；因用户未及时通知而导致其自身在本协议项下各项权益受到损失的， 由用户自行承担全部责任。</p>
        <p>6、用户同意金龙策略有权限制用户参与交易合作的品种和额度。</p>
        <p>7、用户知晓且同意金龙策略享有用户合作交易信息的所有权和使用权。</p>
        <p>8、用户知晓且同意金龙策略仅向用户提供交易信息与服务，金龙策略既不是策略人与投资人之间交易合作关系的当事人，也不是该合作关系中策略人与投资人的保证人或连带责任人 ；金龙策略根据本协议约定向策略人和投资人提供的所有服务仅供策略人和投资人决定是否进行交易合作时予以参考，无论策略人和投资人形成的交易合作关系是否存在第三方担保，在任何情况下均不应视为金龙策略及其关联方对策略人的交易策略能力及相关交易协议的履行做出了任何明示或默示的担保，亦不应视为金龙策略及其关联方对投资人的本金和收益做出了明示或默示的担保或保证。策略人和投资人应自行判断相关信息的真实性、准确性、及时性，自主决定是否进行交易合作，并承担由此而导致的一切损失或责任。</p>
        <p>9、用户在交易合作过程产生的相关税费，由用户自行向其主管税务机关申报、缴纳，金龙策略不负责相关事宜处理。</p>
        <h3 class="topic">四、风险提示</h3>
        <p>用户知晓并同意，通过金龙策略进行交易合作可能面临如下风险，且除以下揭示的风险外还有其他的外部风险，均需要用户自行承担，金龙策略不承担任何责任：</p>
        <p>1、政策监管风险：因宏观政策、监管导向、行业政策、地区发展政策等因素引起的无法实现交易合作的风险。</p>
        <p>2、违约风险：因交易合作方没有按时履约引起损失的风险。</p>
        <p>3、因不可抗力因素导致的风险，不可抗力因素包括但不限于以下情形：<label>金龙策略</label>系统停机维护；<label>金龙策略</label>所依赖的通讯设备出现故障不能进行数据传输；因台风、地震、海啸、洪水&nbsp;、停电、战争、恐怖袭击等不可抗力之因素，造成<label>金龙策略</label>系统障碍不能执行业务的；由于黑客攻击、电信部门技术调整或故障、网站升级、其他第三方的问题等原因而造成的服务中断或者延迟。</p>
        <h3 class="topic">五、通知</h3>
        <p>除本协议另有约定外，本协议履行过程中的通知应以中文书面形式写成。<label>金龙策略</label>向用户发出的书面通知方式包括但不限于邮寄纸质通知、网站公告、电子邮件、站内信、手机短信&nbsp;和传真等方式。如以邮寄方式发出书面通知的，则在<label>金龙策略</label>按照用户在注册<label>金龙策略</label>时留存的通讯地址交邮后的第三个自然日即视为送达。如以网站公告、电子邮件、手机短信和传真等电子方式发出书面通知的，则在通知发送成功即视为送达。</p>
        <h3 class="topic">六、协议的变更、解除</h3>
        <p><label>金龙策略</label>有权随时单方面修改本协议中与用户之间相关的权利义务，并根据本协议约定的方式通知用户，若用户不同意修改本协议，则应当立即停止使用<label>金龙策略</label>服务；否则，视为同&nbsp;意并接受修改后的协议。修订的协议一经通知，立即生效。</p>
        <h3 class="topic">七、协议终止</h3>
        <p>若出现任何一种以下情况，<label>金龙策略</label>有权单方面解除本协议且不视为<label>金龙策略</label>违约：</p>
        <p>1、用户自行注销<label>金龙策略</label>账户；</p>
        <p>2、用户冒用他人名义、盗用他人账户使用<label>金龙策略</label>服务的；</p>
        <p>3、用户为非法目的使用<label>金龙策略</label>服务的；</p>
        <p>4、用户从事任何可能侵害<label>金龙策略</label>系统、资料的行为；</p>
        <p>5、用户从事任何损害<label>金龙策略</label>名誉的行为；</p>
        <p>6、用户违反任何法律法规、本协议约定的；</p>
        <p>7、用户故意利用<label>金龙策略</label>系统漏洞进行非正常交易合作的；</p>
        <p>8、监管机构认为<label>金龙策略</label>提供的服务不再符合相关监管规定的；</p>
        <p>因上述第1—7款原因导致本协议终止的，所导致的全部责任由用户自行承担。</p>
        <h3 class="topic">八、争议的解决</h3>
        <p>本协议的订立、效力、解释、履行及争议的解决均适用中华人民共和国法律。在协议履行期间，凡由本协议引起的或与本协议有关的一切争议、纠纷，当事人应首先协商解决。协商不成，各方一致同意提交仲裁委员会仲裁。</p>
        <h3 class="topic">九、其他</h3>
        <p>1、本协议标题仅为查阅方便而设置，不应构成对本协议的任何解释，不对标题之下的内容及范围作任何限定。</p>
        <p>2、本协议的附件及各项补充、修订或变更，为本协议不可分割的组成部分，与本协议正文具有同等法律效力。</p>
        <p>3、用户通过网络页面点击确认后本协议即生效。</p>
        <p>4、用户在审阅完毕本协议文本时，已阅读并自愿做出以下承诺：“本用户已经阅读本协议所有条款，充分了解并清楚知晓相应的权利义务，并愿意承担相关风险。”</p>
    </div>


</body>
</html>