<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>金龙策略-策略人参与沪深A股交易合作涉及费用及资费标准</title>
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/buy.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/home/css/protocol.css"/>
</head>
<body>
    <div class="agree-wrap">
        <h3 class="title"><label>金龙策略</label>策略人参与沪深A股交易合作涉及费用及资费标准</h3>
        <p>策略人通过金龙策略参与沪深A股交易合作将涉及交易综合费和履约保证金的发生。如策略人参与持仓时间为T＋1｜D的交易合作还将涉及延递费的发生。</p>
        <h3 class="topic">一、交易综合费</h3>
        <p>1、交易综合费为<label>金龙策略</label>向策略人收取的费用。交易综合费包含：</br>
        	&nbsp;&nbsp;1）<label>金龙策略</label>为策略人提供交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理与交易清结算等服务而收取的信息服务费；</br>
        	&nbsp;&nbsp;2）<label>金龙策略</label>代投资人收取用于补偿投资人帐户交易过程中产生的佣金、印花税和过户费等费用；</br>
        <p>2、交易综合费以交易本金为计费基数，按每万元交易本金50元计费。计算公式：策略人支付交易综合费＝交易本金×50/10000。（下表数值仅为用户查询方便提供，交易综合费具体数值通过“金龙策略”策略页面公布，以策略人实际选择为准。）</p>
        <div style="padding: 20px;">
            <table>
                <tbody>
                    <tr>
                        <td>交易本金</td>
                        <td>计费标准</td>
                        <td>支付：交易综合费</td>
                    </tr>
                    <tr>
                        <td>1万元</td>
                        <td>60元/万元</td>
                        <td>60元</td>
                    </tr>
                    <tr>
                        <td>2万元</td>
                        <td>60元/万元</td>
                        <td>120元</td>
                    </tr>
                    <tr>
                        <td>3万元</td>
                        <td>60元/万元</td>
                        <td>180元</td>
                    </tr>
                    <tr>
                        <td>4万元</td>
                        <td>60元/万元</td>
                        <td>240元</td>
                    </tr>
                    <tr>
                        <td>5万元</td>
                        <td>60元/万元</td>
                        <td>300元</td>
                    </tr>
                    <tr>
                        <td>10万元</td>
                        <td>60元/万元</td>
                        <td>600元</td>
                    </tr>
                    <tr>
                        <td>20万元</td>
                        <td>60元/万元</td>
                        <td>1200元</td>
                    </tr>
                    <tr>
                        <td>30万元</td>
                        <td>60元/万元</td>
                        <td>1800元</td>
                    </tr>
                    <tr>
                        <td>50万元</td>
                        <td>60元/万元</td>
                        <td>3000元</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>3、交易综合费于策略人签署《交易合作协议》时即支付。交易综合费一经支付不予退还。当因金龙策略原因导致系统故障，致使策略人和投资人交易合作失败时，策略人方可向金龙策略申请退还交易综合费。</p>
        <h3 class="topic">二、履约保证金</h3>
        <p>1、履约保证金为策略人委托<label>金龙策略</label>平台冻结用于履行交易亏损赔付义务的保证金。策略人以冻结履约保证金之数额作为承担交易亏损赔付的上限。</p>
        <p>2、履约保证金以交易本金为计算基数，以触发止损为冻结系数，计算策略人应冻结履约保证金金额。计算公式：策略人冻结履约保证金＝交易本金×｜触发止损/0.8｜。（下表数值仅为用户查询方便提供，触发止损具体数值通过<label>金龙策略</label>点买页面公布，以策略人实际选择为准。）</p>
        <div style="padding: 20px;">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="2">交易本金</td>
                        <td colspan="2">持仓时间T+1|D</td>
                    </tr>
                    <tr>
                        <td>触发止损率</td>
                        <td>冻结：履约保证金</td>
                    </tr>
                    <tr>
                        <td>1万元</td>
                        <td>-1000</td>
                        <td>2500元</td>
                    </tr>
                    <tr>
                        <td>2万元</td>
                        <td>-3200</td>
                        <td>5000元</td>
                    </tr>
                    <tr>
                        <td>3万元</td>
                        <td>-4800</td>
                        <td>7500元</td>
                    </tr>
                    <tr>
                        <td>5万元</td>
                        <td>-5000</td>
                        <td>12500元</td>
                    </tr>
                    <tr>
                        <td>10万元</td>
                        <td>-10000</td>
                        <td>25000元</td>
                    </tr>
                    <tr>
                        <td>20万元</td>
                        <td>-20000</td>
                        <td>50000元</td>
                    </tr>
                    <tr>
                        <td>30万元</td>
                        <td>-30000</td>
                        <td>75000元</td>
                    </tr>
                    <tr>
                        <td>50万元</td>
                        <td>-50000</td>
                        <td>125000元</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>3、交易合作结束，根据<label>金龙策略</label>清结算结果，如交易盈利，策略人冻结履约保证金全额解冻。如交易亏损，从策略人通过<label>金龙策略</label>平台履约保证金中，扣减策略人所应承担亏损赔付额的数额，扣减后余额解冻。</p>
        <h3 class="topic">三、递延费（仅在持仓时间为T＋1｜D的交易存在产生此费用）</h3>
        <p>1、递延费为策略人通过<label>金龙策略</label>平台向投资人申请将交易品种持仓时间递延至下一交易日所支付的费用。递延费包含：</br>
        	&nbsp;&nbsp;1）<label>金龙策略</label>收取的信息服务费。</br>
        	&nbsp;&nbsp;2）<label>金龙策略</label>代投资人收取用于补偿投资人资金占用费。</p>
        <p>2、延递费以交易本金为计费基数，根据延递申请次数进行分档计费。具体为：第2至20次延递，单次延递按每万元交易本金30元计费。计算公式：策略人支付延递费＝交易本金×30/10000。</p>
        <div style="padding: 20px;">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="2">交易本金</td>
                        <td colspan="2">第3个交易日起</td>
                    </tr>
                    <tr>
                        <td>计费标准</td>
                        <td>支付：递延费</td>
                    </tr>
                    <tr>
                        <td>1万元</td>
                        <td>30元/万元</td>
                        <td>30元</td>
                    </tr>
                    <tr>
                        <td>2万元</td>
                        <td>30元/万元</td>
                        <td>60元</td>
                    </tr>
                    <tr>
                        <td>3万元</td>
                        <td>30元/万元</td>
                        <td>90元</td>
                    </tr>
                     <tr>
                        <td>4万元</td>
                        <td>30元/万元</td>
                        <td>120元</td>
                    </tr>
                    <tr>
                        <td>5万元</td>
                        <td>30元/万元</td>
                        <td>150元</td>
                    </tr>
                    <tr>
                        <td>10万元</td>
                        <td>30元/万元</td>
                        <td>300元</td>
                    </tr>
                    <tr>
                        <td>20万元</td>
                        <td>30元/万元</td>
                        <td>600元</td>
                    </tr>
                    <tr>
                        <td>30万元</td>
                        <td>30元/万元</td>
                        <td>900元</td>
                    </tr>
                    <tr>
                        <td>50万元</td>
                        <td>30元/万元</td>
                        <td>1500元</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>3、交易日当天14:40，若策略人不主动卖出，且符合延递条件，则默认为策略人需要延递，延递费将从策略人于金龙策略网站的资金账号中自动扣除。</p>
        <p>本附件系策略人与投资人签署《交易合作协议》的重要组成部分，具有同等法律效力。</p>
        <h3 class="topic">四、关于以上资费标准的声明</h3>
        <p>1、<label>金龙策略</label>平台声明，以上所有涉及资费标准的数据，均为平台根据市场行情阶段性调整的实时标准，该数据具有一定浮动性</p>
        <p>2、<label>金龙策略</label>平台关于以上资费标准不做不予调整的承诺，平台将根据客观的市场行情对资费标准进行适时调整，关于调整结果将及时告知所有平台用户，并将一如既往地尊重用户在新的资费条件下是否选择继续与平台合作的权利。</p>
    </div>


</body>
</html>